.ferrybooth {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  text-align: left;
}
.ferryflat {
  background-color: violet;
  box-shadow: 5px 5px black;
  border-radius: 10px;
  padding: 20px;
  color: white;
}
